---
layout: default
---
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">

        {% for post in site.posts %}
        <div class="postlist">
            <h2><a href="{{ post.url }}" class="title">{{ post.title }}</a></h2>

            <div class="meta">
                <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}" title="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>

                {% for tag in post.tags %}
                  <a href="">{{ tag }}</a>
                {% endfor %}
            </div>

            <div class="excerpt">
                {{ post.excerpt | truncate: 100 }}
            </div>

            <div>
                <a href="{{ post.url }}" class="buttonize outline small">continue reading →</a>
            </div>

            <hr>
        </div>
        {% endfor %}
    </div>
</div>
