---
layout: default
---
<article class="col-md-offset-2 col-md-8">
  <h1 class="tag-t">Tags: {{ page.tag }}</h1>

  {% for post in page.posts %}
    {% unless post.draft %}
      <div class="postlist">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="meta">
            <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}" title="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            {% for tag in post.tags %}
                <a href="/tags/{{ tag }}/" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="excerpt">
          {{ page.excerpt | truncate: 100 }}
        </div>
        <hr/>
      </div>
    {% endunless %}
  {% endfor %}

</article>
